// @import './reset.css';
@import './custom-block.scss';

html {
  font-size: 20px;
}

body {
  color: #fff;
  background-color: #181c27;
}



// 修改 markdown 样式
.main_content {

  // 代码引用
  code {
    padding: 2px 5px;
    border-radius: 3px;
    background-color: #3eaf7c;
  }

  // 代码块
  pre {
    border-radius: 5px;
    background-color: #181c27 !important;

    code {
      padding: 0;
      border-radius: 0;
      background-color: transparent;
    }
  }

  // 响应式图片
  img {
    max-width: 100%;
  }
}
  